.product {
  padding: 100px 0;
  position: relative;
}

.product .container .heading {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 60px;
}

.product .heading h3 {
  color: #00193c;
  font-size: 42px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  margin-bottom: 70px;
  place-items: center;
}

.product-grid .product-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #f6f6f6;
  align-items: center;
  padding: 10px;
}

.product-paragraph {
  font-family: "Roboto", sans-serif;
  color: #00193c;
  font-size: 20px;
  text-transform: capitalize;
  opacity: 1;
}

.product-grid .product-box .image img {
  max-width: 100%;
}

.product-grid .price-cart {
  display: flex;
  gap: 180px;
  align-items: center;
}

.product-grid .price-cart .cart {
  border-radius: 50%;
  background-color: #c436a4;
  width: 35px;
  height: 35px;
  position: relative;
  bottom: 10%;
}

.product-grid .product-box .image {
  position: relative;
}

.product-grid .price-cart .cart img {
  width: 17px;
  position: absolute;
  top: 30%;
  transform: translateY(-30%);
  left: 45%;
  transform: translateX(-45%);
}

.sale-new {
  position: absolute;
  background-color: #f6f6f6;
  top: 5%;
  left: 5%;
  padding: 7px;
  border-radius: 6px;
  color: #c436a4;
  font-family: "Roboto", sans-serif;
  width: 70px;
  text-align: center;
}

.heart {
  position: absolute;
  top: 9%;
  right: 5%;
  background-color: rgb(246 246 246 / 80%);
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
}

.heart img {
  position: absolute;
  top: 18%;
  right: 22%;
  width: 17px;
}

.new {
  color: #00193c;
}

.btn {
  padding: 15px;
  border: none;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 17px;
  border: 1px solid #c436a4;
  background-color: white;
  border-radius: 8px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #c436a4;
  letter-spacing: 1.5px;
}
/* Media Query */

@media (max-width: 767px) {
  .product .container .heading {
    text-align: center;
  }
  .product .heading h3 {
    font-size: 30px;
  }

  .product-paragraph {
    font-family: "Roboto", sans-serif;
    color: #00193c;
    font-size: 13px;
    text-transform: capitalize;
  }

  .product-grid .price-cart .cart {
    border-radius: 50%;
    background-color: #c436a4;
    width: 40px;
    height: 40px;
    position: relative;
    bottom: 10%;
  }

  .product-grid .product-box {
    gap: 25px;
  }

  .product-grid {
    padding: 15px;
  }
}
